<h1>
	This is the Secret Page!!
</h1>

<p>
	You Found Me!!
	<img src="https://photosforclass.com/download/pixabay-2142781?webUrl=https%3A%2F%2Fpixabay.com%2Fget%2F54e1d1414d5aad14f6da8c7dda793f7f1636dfe2564c704c732873d0924ac15a_960.jpg&user=Virvoreanu-Laurentiu">
</p>

<li><a href="/register">Sign Up!!</a></li>
<li><a href="/login">Login!!</a></li>
<li><a href="/logout">Logout!</a></li>